* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Times New Roman", Times, serif;
    font-size: 25px;
    background: linear-gradient(180deg, #e0f2fe, #fde2e4);
    color: #1f2937;
    scroll-behavior: smooth;
}

/* HERO */
.hero {
    min-height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero-content {
    animation: fadeUp 1.2s ease;
}

.profile-pic {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    border: 4px solid #93c5fd;
    margin-bottom: 20px;
}

.hero h1 {
    font-size: 42px;
    margin-bottom: 10px;
}

.hero p {
    color: #374151;
}

/* NAVBAR */
.navbar {
    position: sticky;
    top: 0;
    background: #c7f8fae0;
    padding: 15px;
    text-align: center;
}

.navbar a {
    color: #1e3a8a;
    margin: 0 18px;
    text-decoration: none;
    font-weight: bold;
}

.navbar a:hover {
    color: #f080af;
}

/* SECTIONS */
.section {
    max-width: 1000px;
    margin: auto;
    padding: 80px 25px;
}

.section h2 {
    font-size: 34px;
    margin-bottom: 20px;
    color: #1e40af;
}

/* EDUCATION */
.edu-card {
    background: #ffffff;
    padding: 25px;
    border-left: 6px solid #93c5fd;
    border-radius: 12px;
    margin-bottom: 25px;
    transition: 0.3s;
}

.edu-card:hover {
    transform: translateX(8px);
}

/* SKILLS */
.skills span {
    display: inline-block;
    background: #dbeafe;
    color: #1e3a8a;
    padding: 10px 22px;
    border-radius: 25px;
    margin: 8px;
}

/* PROJECTS */
.projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 25px;
}

.card {
    background: #ffffff;
    padding: 25px;
    border-radius: 15px;
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-8px);
    box-shadow: 0 12px 30p
}